{% extends 'base.html' %}

{% block content %}

<style>
  @media screen
{
    .noPrint{}
    .titles{display:none;}
    .footer{display:none;}
}

@media print
{
    .noPrint{display:none;}
    .title{}
    .footer{}
}
</style>

<div class="row justify-content-center">
    <div class="col-12">
      <!-- <h5 class="mb-2 page-title">Product List by {{cat}}</h5> -->
      <!-- Button trigger modal -->
      <!-- <button type="button" class="btn mb-2 btn-outline-success" data-toggle="modal" data-target="#verticalModal"> Launch demo modal </button> -->
      
      <div class="row my-4">
        <div class="col-md-5">
            <div class="card shadow">
              <div class="card-body" id="salecardbody">
                <input type="text" name="customername" id="invcustomername" class="form-control" placeholder="Enter Customer Name" value="{{cart.customername}}">
                <!-- table -->
                <table class="table" style="width:100%" id="saleview-1">
                  <thead>
                    <tr>
                    <th colspan="5"><div class="titles">Title Header <br> address : Yangon, Mandalay, Saging<br>phone 1234567789, 1234567899</div></th>
                   </tr>

                   <tr>
                    <th colspan="3"><div class="titles cs">{{cart.customername}}</div></th>
                    <th colspan="2"><div class="titles">{{cart.created_at}}</div></th>
                   </tr>
                    
                    
                  </thead>
                  <tbody id="carttbl">
                    <tr>
                      <td>no.</td>
                      <td>Item Name</td>
                      <td>Price</td>
                      <td>Qty</td>
                      <td>Amount</td>
                      
                    </tr>
                    
  
                    {% for p in cart.cartproduct_set.all %}
                    <tr class="prolisttr">
                      
                      <td>{{forloop.counter}}</td>
                      <td ><strong class="text-primary">{{p.product.name}}</strong></td>
                      <td>{{p.rate}}</td>
                      <td>{{p.quantity}}</td>
                      
                      <td>{{p.subtotal}}</td>
                      
                      
       
                    </tr>
                    {% endfor %}
                    <tr>
                      
                      <td></th>
                      <td></th>
                      <th></th>
                      <th>Total</th>
                      <th>{{cart.total}}</th>
                      
                    </tr>
                    
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <td>no.</td>
                      <td>Item Name</td>
                      <td>Price</td>
                      <td>Qty</td>
                      <td>Amount</td>
                      
                    </tr>
                  </tfoot> -->
                </table>
                <hr>
                <div class="row  justify-content-end" id="btngp">
                  <!-- <div class="col-4"><a href="#" class="btn btn-block btn-success invsave">Save</a></div> -->
                   
                  <div class="col-4"><a href="#" class="btn btn-block btn-primary" onclick="printTable();">Print Preview</a></div>
                  <div class="col-4" id="sbtn"><button type="button" class="btn btn-block btn-success invsavebtn">Save&Print</button></div>
                
                </div>
              </div>
            </div>
<hr>
            <div class="card shadow">
              <div class="card-body" id="salecardbody">
                
                <!-- table -->
                <table class="table" style="width:100%" id="saleview-2">
                  <h5>Sale Invoice Reports</h5>
                  <thead>
                    
                    <tr>
                      <td>invno.</td>
                      <td>Customer Name</td>
                      <td>Amount</td>
                      <td>Date</td>
                     
                      
                    </tr>
                    
                  </thead>
                  <tbody id="invlist">
                   
  
                    {% for p in inv %}
                    <tr class="prolisttr">
                      
                      <td>{{p.id}}</td>
                      <td ><strong class="text-primary">{{p.customername}}</strong></td>
                      <td>{{p.cart.total}}</td>
                      <td><a href="#">{{p.created_at}}</a></td>
                      
       
                    </tr>
                    {% endfor %}
                    
                    
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <td>no.</td>
                      <td>Item Name</td>
                      <td>Price</td>
                      <td>Qty</td>
                      <td>Amount</td>
                      
                    </tr>
                  </tfoot> -->
                </table>
                
              </div>
            </div>
          </div> <!-- simple table -->
        <!-- Small table -->
        <div class="col-md-7">
          <div class="card shadow">
            <div class="card-body">
              <!-- table -->
              <table class="table datatables" id="categoryview-1">
<h5>Items Lists</h5>
                <thead>
                  <tr>
                    
                    
                    <th>Name</th>
                    <th>saleprice</th>
                    <!-- <th>stockbalance</th> -->
                    <th>qty</th>
                    
                    
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="productlist">

                  {% for p in products %}
                  <tr class="prolisttr">
                    
                    
                    <td style="max-width: 200px; min-width: 20px;"><strong class="text-primary">{{p.name}}</strong></td>
                    <td>{{p.saleprice}}</td>
                    <!-- <td>{{p.stockbalance}}</td> -->
                    <td style="max-width: 50px; min-width: 20px;">
                      <input type="number" name="pqty" value="1" class="form-control">
                    </td>
                   
                    
                    <td>
                      <input type="number" name="pid" value="{{p.id}}" hidden>
                      
                        <button class="btn btn-sm btn-block btn-success addtocartbtn">addtocart</button>
                    </td>
                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div> <!-- simple table -->
      </div> <!-- end section -->
    </div> <!-- .col-12 -->

    
  </div> <!-- .row -->



  
  

{% endblock content %}