{% extends 'base.html' %}

{% block content %}



<div class="row justify-content-center">
    <div class="col-12">
      <h5 class="mb-2 page-title">Product List by {{cat}}</h5>
      <!-- Button trigger modal -->
      <!-- <button type="button" class="btn mb-2 btn-outline-success" data-toggle="modal" data-target="#verticalModal"> Launch demo modal </button> -->
      
      <div class="row my-4">
        <div class="col-md-5">
            <div class="card shadow">
              <div class="card-body">
                <!-- table -->
                <table class="table datatables" id="saleview-1">
                  <thead>
                    <tr>
                      
                      <th>Item Name</th>
                      <th>Price</th>
                      <th>Qty</th>
                      <th>Amount</th>
                      
                    </tr>
                  </thead>
                  <tbody id="categorylist">
  
                    {% for p in products %}
                    <tr class="prolisttr">
                      
                      
                      <td ><strong class="text-primary">{{p.name}}</strong></td>
                      <td>{{p.branch}}</td>
                      <td>{{p.saleprice}}</td>
                      <td>{{p.stockbalance}}</td>
                      
                      
                      
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
        <!-- Small table -->
        <div class="col-md-7">
          <div class="card shadow">
            <div class="card-body">
              <!-- table -->
              <table class="table datatables" id="categoryview-1">
                <thead>
                  <tr>
                    
                    <th>branch</th>
                    <th>Name</th>
                    <th>saleprice</th>
                    <th>stockbalance</th>
                    
                    
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="categorylist">

                  {% for p in products %}
                  <tr class="prolisttr">
                    
                    <td>{{p.branch}}</td>
                    <td ><strong class="text-primary">{{p.name}}</strong></td>
                    <td>{{p.saleprice}}</td>
                    <td>{{p.stockbalance}}</td>
                   
                    
                    <td>
                        <button class="btn btn-sm btn-block btn-success">addtocart</button>
                    </td>
                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div> <!-- simple table -->
      </div> <!-- end section -->
    </div> <!-- .col-12 -->
  </div> <!-- .row -->



  
  

{% endblock content %}